@import "bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "bower_components/bitters/app/assets/stylesheets/base";
@import "bower_components/neat/app/assets/stylesheets/neat";

$default-bg: white;
$default-text: black;

body {
    font-family: Georgia, serif;
    font-size: 16px;
    background: $default-bg;
    color: $default-text;
}

h1 {
    font-size: 2em;
    margin: 0.5em 0 1em;

    & > small {
        color: gray;
        font-size: 70%;
          
    }
}

section {
  @include outer-container;
  aside { @include span-columns(3); }
  article { @include span-columns(9); }
}